[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
"bs4" = "*"
requests = "*"
jupyter = "*"
openpyxl = "*"
pdfplumber = "*"
xlrd = "*"
matplotlib = "*"
selenium = "*"
usaddress = "*"
probablepeople = "*"
pytz = "*"
maya = "*"
jupyter-console = "<5"

[dev-packages]

[requires]
